

.main-header{
    /* height: var(--main-header-height); */
    /* background-color: aqua; */
}



.home-page-logo-link{
    
}

.home-page-logo-svg{
    fill: #222222;
}

.home-page-logo-link:hover
.home-page-logo-svg{
    fill: #F65E39;
}


.main-header-has-search{
    width: 600px;
}

.main-header-search{
    flex: 1;
}



.main-header-input-group{

}


.main-header-select-date{

}

.main-header-count-guest{

}

.select-date-btn{
    padding: 10px 16px;
}

.main-header-count-guest-btn{
    padding: 10px 16px;
}
