

.main-header{
    /* height: var(--main-header-height); */
    /* background-color: aqua; */
}



.home-page-logo-link{
    
}

.home-page-logo-svg{
    fill: #222222;
}

.home-page-logo-link:hover
.home-page-logo-svg{
    fill: #F65E39;
}


/* Header Search */
.main-header-search{
    width: 600px;
}


.main-header-search__input-wrapper{
    flex: 1;
    position: relative;
    border: 1px solid rgba(209, 209, 209, 0.7);
    box-shadow: 0 1px rgba(209, 209, 209);
}

.main-header-search__input{
    height: 50px;
    border: none;
    padding-left: 40px;
    position: relative;
}

.main-header-search__input:focus{
    border: 1px red solid;
}

.main-header-search-icon{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(100%, -50%);
}

.main-header-search-btn{
    background-color: rgb(85, 85, 85);
}

/* .main-header-select-date{

}

.main-header-count-guest{

} */
/* 
.select-date-btn{
    padding: 10px 16px;
}

.main-header-count-guest-btn{
    padding: 10px 16px;
} */
