.home-page-container{

}


.home-page-content{
    padding: 32px 64px;
}

.home-page-slider{
    width: 100%;
    position: relative;
}


.home-page-slider-img{
    width: 100%;
    border-radius: 20px;
}

.home-page-slider-tab{
    position: absolute;
    right: 50px;
    bottom: 20px;
    
}

.home-page-slider-tab-icon{
    margin-left: 4px;
    font-size: 8px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.home-page-slider-tab-icon.home-page-slider-tab-icon--active{
    color: rgba(0, 0, 0, 0.5);
}



.home-page-header{

}

.home-page-header__heading{
    margin-bottom: 10px;
}

.home-page-header__description{
    color: var(--text-color);
}

.home-page-introduction-entry__link{
    color: var(--text-color);
    text-decoration: underline;
}

.home-page-introduction-entry__link:hover{
    color: var(--text-link-hover-color);
}
